.App {
  background: rgb(75, 191, 107);
  height: 100vh;
}

.Header {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}

body{
  font-family:"Roboto", "Helvetica", "Arial", sans-serif;
}

#Menu, .list-group-item{
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
}

.navLabel{
  font-size: 20px;
  margin-left: 50px;
}


.list-group-item-action:focus, .list-group-item-action:hover{
  background-color: #0a243d;
}

.list-group-item.active{
  z-index: 2;
  color: #9AB39A;
  background-color: black;
  border-color: black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #9AB39A;
  
}

#col1{
  background-color: #232f3e;
  color: #fff;
  font-size: 26px;
  height: 112px;
  text-align: left;
  align-items: baseline;
}
#HeaderText{
  position:absolute;                  
  bottom:0;                          
}
#TabColumn{
  height: 112px;
  background-color: #eaeff1;
  align-items: flex-end;
}
#Avatar{
  border-radius: 50%;
  height: 55px;
  width: 55px;
  background-color: #eaeff1;
}
#AvatarBtn{
  border-color:  #eaeff1;;
}

.tab-pane.active { animation-name: fadeIn; animation-duration: 300ms; animation-timing-function: linear; }

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body.modal-open > #root  {
  filter: blur(3px);
}